.Card {
  display: flex;
  padding: 0 0 1rem;
  border-bottom: 1px solid #f2f2f2;
}

.Card-Logo svg {
  color: #ddd;
  font-size: 3rem;
  padding: 1rem;
}

.Card-Head-Title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: .5rem;
}

.Card-Detail {
  display: none;
}

.Card-Detail-Link {
  text-decoration: none;
  color: #00BCFF;
}

.Card-Company-Logo {
  max-width: 2.5rem;
  padding: 1rem;
}

.Card-Info {
  width: 100%;
}

.Card-Detail-Container {
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  background-color: #f5f5f5;
  border-radius: .5rem;
  justify-content: space-between;
  width: 100%;
}

.Card-Body p {
  margin: 0;
}

.Card-Apply a {
  color: #000;
  text-decoration: none;  
}

.Card-Apply a:hover {
  color: #00BCFF;  
}

.Card-Functions {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: fit-content;
  max-height: 4.6em;
}

.Card-Functions p {
  margin: 0;  
}