@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold');

.Card {
  animation: fadein 2s;
  font-family: Roboto;
  font-size: 14px;
  max-width: 32rem;
  margin: 1rem auto;
  flex: 0 0 30%;

  box-shadow: 0px 2px 4px 2px lightgray;
}

.Card:hover {
  box-shadow: 0px 2px 2px 2px lightgray;
}

.Card-Body {
  padding: 1rem;
}

.Card-Body-Description summary {
  cursor: pointer;
  padding: 6px;
 } 

.Card-Body-Description summary:focus {
  outline: none;
}

.Card-Detail {
  font-weight: 600;
}

.Card-Head {
  /*background-color: #64ebff;*/
  background-color: #303030;
  color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: flex;
  font-size: 11px;
  justify-content: center;
  padding: 15px;
}

.Card-Head-Title {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}