.CardWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.Found {
  margin: 1rem 0 0;
  text-align: center;
}

.TypeFilter {
  display: flex;
  justify-content: center;
}

.TypeFilter button {
  border: 0;
  margin: 1rem .5rem 0;
  padding: .5rem;
  background: none;
  font-weight: bold;
  cursor: pointer;
  color: dimgrey;
}

.Sort {
  display: flex;
  justify-content: center;
}

.Sort button {
  padding: .25rem 1rem;
  border: 0;
  background: none;
  background-color: #303030;  
  color: #F0F0F0;
}

.Sort select {
  border: 1px solid #CCC;
}