@import url('https://fonts.googleapis.com/css?family=Prompt:regular');

.App-intro {
  font-size: .7rem;
  position: absolute;
  letter-spacing: 2px;
  transform: translate(60px, 14px);
  color: #aaa;
}

.App-logo {
  width: 80px;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  margin-bottom: 20px;
  background-color: #222;
  min-height: 100px;
  color: white;
}

.App-title {
  font-size: 2rem;
  font-family: 'Prompt';
  letter-spacing: .4rem;
  margin-left: 2rem;
}

/*Global CSS */

input:focus {
  outline: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
