/* Contains globals */

@import url('https://fonts.googleapis.com/css?family=Prompt:regular');

body {
  background: linear-gradient(
    #00BCFF30, 
    rgba(255, 255, 255, .5)
    ), url("https://images.pexels.com/photos/273222/pexels-photo-273222.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-size: cover;
    background-attachment: fixed;
}

.Page-break {
  background: #00BCFF;
  border: 0;
  height: 3px;
  margin: 0;

}